
body {
    margin: 0;
    font-family: sans-serif;
}

.movie-card {
    position: relative;
    perspective: 1000px;
    cursor: pointer;
    height: 300px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.movie-card:hover .back {
    display: block;
}

.movie-card.hover .front {
    transform: rotateY(180deg);
}

.movie-card.hover .back {
    transform: rotateY(0deg);
}

.movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-card {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
    border: 5px solid #2BE498; 
    border-radius:22px;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.back {
    transform: rotateY(180deg);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.movie-card.hover .front {
    transform: rotateY(180deg);
}

.movie-card.hover .back {
    transform: rotateY(0deg);
}

.movie-image {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Helps maintain aspect ratio */
    border-radius: 15px;
}




.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    padding:5px;
    padding-left:25px;
    padding-right:25px;
    border: 5px solid #2BE498;
    border-radius: 10px;
    background-color:#2BE498;
    margin-left: 10px;
}

.buttons .button {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    padding: 10px 20px;
    border: 2px solid #2BE498;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buttons .button:hover {
    background-color: #2BE498;
    color: #333;
}

.image-container {
    position: relative;
    text-align: center;
}

.image-container img {
    max-width: 100%;
}

.top-buttone {
    position: absolute;
    top: 90px;
    left: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}


.top-buttwo {
    position: absolute;
    top: 400px;
    left: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}


.container {
    display: flex;
}

.left-panel {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
}

.right-panel {
    flex: 1;
    background-color: #ccc;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-one{
    position: absolute;
    top: 10px;
    left: 80px;
}

.head-two{
    position: absolute;
    top: 320px;
    left: 80px;
}


.movie-grid {
    display: block;
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
}