:root {
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --body-font: "Poppins", sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg: #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    color: var(--theme-color);
    font-weight: 500;
    font-size: 16px;
    background: url("../assets/Background.mp4");
}

h1 {
    font-size: 24px;
    font-weight: 500;
    color: var(--theme-color);
    margin: 0;
}

.background {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}

.background video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-div {
    background-color: var(--theme-bg-color);
    position: relative;
    top: 30px;
    left: 35px;
    width: 190vh;
    height: 90vh;
    overflow: hidden;
    border-radius: 14px;
    backdrop-filter: blur(20px);
}

.header {
    position: relative;
    margin: 0;
    padding: 30px 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons .button {
    text-decoration: none;
    color: var(--button-inactive);
    margin: 10px 30px;
}

.buttons .button:hover {
    text-decoration: underline;
    color: var(--theme-color);
}

.second-div {
    color: var(--theme-color);
    height: 100%;
    background-color: var(--theme-bg-color);
    overflow: scroll;
}

.second-div h1 {
    color: var(--button-inactive);
}

.third-div {
    position: relative;
    margin: 0;
    padding: 30px 50px;
}

.movie-card {
    width: 300px;
    height: 300px;
    margin: 0 24px;
    position: relative;
    cursor: pointer;
    border-radius: 14px;
}

.movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.movie-card.hover .front {
    transform: rotateY(180deg);
}

.movie-card.hover .back {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    background-color: var(--theme-bg-color);
    border-radius: 14px;
    color: var(--button-inactive);
}

.back span {
    color: var(--theme-color);
    position: relative;
    top: 60px;
    padding: 0 40px;
    font-size: 24px;
}

.back p {
    position: relative;
    top: 80px;
    margin: 10px 40px;
}

.movie-grid {
    display: block;
    margin-bottom: 20px;
    margin: 50px 0 0;
}

.top-buttwo {
    margin: 50px 0 100px;
}